<launch>
  <!-- upload or not upload the avatar description, in case one is already uploaded -->
  <arg name="upload" default="true" />

  <node pkg="tf2_ros" type="buffer_server"
    name="buffer_server" output="screen">
  </node>

  <!-- map of the iai kitchen  -->
  <include file="$(find avatar_ros_config)/launch/environment.launch" />

  <!-- robot -->
  <include file="$(find avatar_ros_config)/launch/avatar.launch" />

</launch>
